@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

/* 기본 css 설정 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  color: inherit;
  background: none;
}

.hidden {
  display: none;
}

body {
  font-family: "League Gothic", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 500px;
  background-color: rgb(185, 29, 29);
  padding: 2em 0;
}

img {
  width: 500px;
  display: block;
  margin: 0 auto;
}
/* 세부 css 설정 */

.player {
  color: white;
}

.progress-bar {
  background: rgb(144, 22, 22);
  margin: 2em 0 1em 0; /* margin은 간격 */
}

.progress {
  height: 3px;
  background: white;
  width: 0;
}

.time {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
}

.title {
  text-align: center;
  margin: 1em 0 0.5em 0;
  font-size: 2.5em;
}

.artist {
  display: block;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.btns {
  display: flex;
  justify-content: space-around;
}

.btns button {
  border: none;
  padding: 1em;
  border-radius: 50%;
}

.btns button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.btns i {
  font-size: 1.5rem;
  color: white;
}
