/* *{}은 모든 태그에 적용할 수 있는 것, 중복을 줄여주기 위함*/
/* 기본 브라우저에 있는 css를 없애야 한다.*/
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
    helvetica, "Apple SD Gothic Neo", sans-serif;
}
/*
Cascading Style Sheet
-html 덮어씌워지는 속성 존재 
*/

/* 선택자(selector)
>는 자식
띄어쓰기는 자손
#는 ID고
.은 클래스
*/

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

/* 
내용이 같으면 동일하게 
div#이름1, div#이름2 {}
div는 생략가능하나 다른 거는 꼭 적어줘야 함
사용자 에이전트 스타일은 chrome, explorer, 버젼별로 다름
*/

/*
block은 너비를 100% 차지
inline은 컨텐츠 너비 지정크기만 차지(빈 공간 마련 불가능)
inline-block은 너비, 높이 지정크기 가능
*/

.center-align {
  margin: 0 auto 0 auto;
  width: 1080px; /*px는 상대적 길이, 모니터별로 다름*/
}

header {
  height: 170px;
}

#header-top {
  position: absolute;
  right: -5px;
  cursor: pointer;
  float: right;
  top: 11px;
}

#naver-start span:first-child {
  position: relative;
  right: 175px;
  top: 7px;
  display: inline-block;
  width: 26px;
  height: 26px;
  background-position: -308px -345px;
  background-repeat: no-repeat;
  vertical-align: top;
  content: "";
  margin: -3px 0 0 3px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_4f8ccb.png);
  background-size: 457px 434px;
}

#naver-start span:nth-child(2) {
  display: inline-block;
  text-decoration: none;
  position: relative;
  right: 320px;
  top: 3px;
  color: #404040;
  letter-spacing: 0px; /*글자 사이 간격*/
  font-size: 11px;
  line-height: 16px; /*글자의 높이 */
}

.nav-divider {
  position: relative;
  top: -38px;
  right: -708px;
  display: inline-block;
  margin: 18px 16px 0;
  width: 1px;
  height: 14px;
  background: #ebeef3;
}

#jr-naver span:first-child {
  position: relative;
  right: 140px;
  top: -50px;
  display: inline-block;
  width: 62px;
  height: 10px;
  background-position: -200px -330px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 3px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_4f8ccb.png);
  background-size: 457px 434px;
}

#happy-bean span:first-child {
  position: relative;
  right: 70px;
  top: -72px;
  display: inline-block;
  width: 39px;
  height: 13px;
  background-position: -380px -198px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 3px 3px 2px;
  background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_4f8ccb.png);
  background-size: 457px 434px;
}

#header-search {
  clear: both;
  padding-top: 36px;
}

#header-search > a {
  vertical-align: middle;
  text-decoration: none;
}

#header-search h1 {
  margin-left: 11px;
  vertical-align: middle;
  width: 222px;
  height: 52px;
  display: inline-block;
  background-position: 0 -158px;
  background-size: 457px 434px;
  background-image: url(./네이버\ 메인\ 사진.png);
  background-repeat: no-repeat;
  /*background: url(./네이버\ 메인\ 사진.png) 0 -158px  no-repeat*/
  position: relative;
  top: -7px;

  /*
  vertical-align: top;
  content: "";
  text-indent: 100%;
  overflow: hidden;
  */
}

#header-search h1 > span {
  display: none;
}

#header-search h2 {
  display: none;
}
#header-search fieldset {
  margin-left: 19px;
  /*
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 10px;
  */
  padding: 12px 0px 12px 10px;
  width: 582px;
  height: 56px;
  display: inline-block;
  border: 2px solid #19ce60; /* hex */
  /* rgb는 rgb(x,y,z) */
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
  width: 455px;
  height: 24px;
  display: inline-block;
}

#header-search fieldset button {
  width: 50px;
  height: 54px;
  border: none;
  padding: 0;
  background: #19ce60;
  position: absolute;
  /*
  mdn web docs 참고
  https://developer.mozilla.org/ko/docs/Web/CSS/Containing_block
  https://developer.mozilla.org/ko/docs/Web/Guide/CSS/Block_formatting_context
  https://developer.mozilla.org/ko/docs/Glossary/Stacking_context
  */
  /* 컨테이닝 블록의 모든 것
  - 감싼다고 해서 컨테이닝 블록은 아님
  - static,relative면 블록 컨테이너 or 컨텐츠 영역
  - static만 아니면 컨테이닝 블록 가능 
  - absolute면 가장 가까운 조상의 내부 여백 영역
  - absolute면 기존 배치 흐름에서 벗어남
  - fixed면 페이지 영역
  - 스크롤을 내려도 계속 따라오는 요소 ex) 광고페이지
  - html을 기본 컨테이닝 블록으로 생각
  */

  /*블록 서식 맥락 block formatting context
  - 부모 입장에서 자식을 누구까지 포함해야하나 결정하는 요소
  - 부모 태그라 해서 모든 걸 다 감싸는 게 아님
  - float
  -> float은 존재하는 지 몰라 밑의 요소가 둥둥 뜨게 됨, 그렇다고 겹치진 않음, 아래가 float을 감싸는 느낌
  - position이 absolute or fixed
  - 인라인 블록일 때 생김.
  - overflow가 visible이 아닌 요소(기본값 visible)
  - auto와 hidden의 차이는 높이와 관련 (hidden으로 주면 아예 부모와 같게 길이가 짤림)
  */
  /*쌓임 맥락 stacking context
  -first와 last chlid 사이 충돌
  */
  right: -1px;
  top: -1px;
}
/*
#fixed {
  position: fixed;
  top: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;   컨테이닝 블록에 따른 %로도 크기 조정 가능
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}
*/
#search-keyboard {
  position: absolute;
  top: 50%;
  left: 83%;
  display: inline-block;
  width: 20px;
  height: 12px;
  background-position: -420px -402px;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: -6px 0 0 -10px;
  background-image: url(./네이버\ 메인\ 사진.png);
  padding: 0 6px;
}

#search-history {
  display: inline-block;
  position: relative;
  top: 11px;
  left: 30px;
  width: 10px;
  height: 5px;
  background-position: -408px -100px;
  background-repeat: no-repeat;
  vertical-align: top;
  background-image: url(./네이버\ 메인\ 사진.png);
  padding: 0 6px;
}
#search-image {
  background: #19ce60;
  background-image: url(./네이버\ 메인\ 사진.png);
  background-position: -420px 0px;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
  margin: 14px;
}

nav {
  height: 46px;
  border-top: 1px solid #d1d8e4; /*solid, dashed, dotted 존재*/
  border-bottom: 1px solid #d1d8e4;
}

nav a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

nav ul {
  margin: 0;
  padding: 7px 0 0 4px;
  list-style: none;
}

nav li {
  display: inline-block;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  color: #03c75a;
  letter-spacing: -0.3px;
}

/*CSS 우선순위*/
/*
기본적으로 뒤에 나오는 css가 우선순위가 높다
!important > inline style attribute > id > 다른 attribute > tag element
우선순위가 같다면 개수가 많은 css -> 차라리 여러개 태그 붙이는 꼼수가 낫다
꾸며주는 게 더 많아도 우선순위 up!
important는 최후의 수단! -> 협업에 방해가 됨
*/
nav li span:first-child {
  background-image: url(./네이버\ 메인\ 사진.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 9px;
}

nav li:first-child span:first-child {
  width: 21px;
  height: 21px;
  background-position: -420px -73px;
  position: relative;
  top: 4px;
  margin-right: 9px;
}

nav li:nth-child(5) span:first-child {
  width: 24px;
  height: 20px;
  background-position: -154px -389px;
  position: relative;
  top: 4px;
}

nav li:nth-child(6) span:first-child {
  width: 54px;
  height: 20px;
  background-position: -202px -299px;
  position: relative;
  top: 4px;
}

nav li:nth-child(8) span:first-child {
  width: 12px;
  height: 14px;
  background-position: -444px -49px;
}

#see-more {
  position: relative;
  top: -30px;
  right: -771px;
  float: left;
  margin-left: 17px;
  font-size: 13px;
  line-height: 30px;
  color: #202020;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
}

#see-more span:first-child {
  position: relative;
  top: 2px;
  right: -53px;
  display: inline-block;
  width: 11px;
  height: 7px;
  background-position: -444px -339px;
  background-image: url(./네이버\ 메인\ 사진.png);
  background-repeat: no-repeat;
  margin-left: 7px;
  vertical-align: 2px;
}
#search-ranking {
  position: absolute;
  top: 180px;
  right: 250px;
}

#rank-number {
  margin-top: -9px;
  color: #00ab33;
  font-size: 16px;
}

main {
  background-color: #f2f4f7;
  display: inline-block;
  width: 100%;
}

#main-centered {
  display: inline-block;
  padding: 8px 10px 0;
  width: 100%;
}

#main-ad {
  float: left;
  width: 700px;
  height: 135px;
  background: #555;
  margin-right: 8px;
  margin-bottom: 8px;
}

#main-login {
  float: left;
  width: 350px;
  height: 135px;
  vertical-align: top;
  background-color: white;
  margin-bottom: 8px;
}

#main-ytn {
  display: inline-block;
  width: 700px;
  height: 49px;
  background-color: white;
  margin-right: 8px;
  margin-bottom: 8px;
}

#main-newstand {
  display: inline-block;
  width: 700px;
  height: 250px;
  background-color: white;
  margin-right: 8px;
  margin-bottom: 8px;
}

#main-weather {
  display: inline-block;
  width: 348px;
  height: 47px;
  background-color: white;
  margin-bottom: 8px;
}

#main-second-ad {
  display: inline-block;
  width: 350px;
  height: 200px;
  background: #555;
  margin-bottom: 8px;
}

#main-category {
  display: inline-block;
  width: 750px;
  height: 830px;
  background: white;
}

#main-shopping {
  display: inline-block;
  width: 350px;
  height: 970px;
  background: white;
}

#main-event {
  display: inline-block;
  width: 740px;
  height: 130px;
  background: white;
}

#main-third-ad {
  display: inline-block;
  width: 350px;
  height: 130px;
  background: #555;
}
