/* *{}은 모든 태그에 적용할 수 있는 것, 중복을 줄여주기 위함*/
/* 기본 브라우저에 있는 css를 없애야 한다.*/
* {
  box-sizing: border-box;
}
/*
Cascading Style Sheet
-html 덮어씌워지는 속성 존재 
*/

/* 선택자(selector)
>는 자식
띄어쓰기는 자손
#는 ID고
.은 클래스
*/

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

/* 
내용이 같으면 동일하게 
div#이름1, div#이름2 {}
div는 생략가능하나 다른 거는 꼭 적어줘야 함
사용자 에이전트 스타일은 chrome, explorer, 버젼별로 다름
*/

/*
block은 너비를 100% 차지
inline은 컨텐츠 너비 지정크기만 차지(빈 공간 마련 불가능)
inline-block은 너비, 높이 지정크기 가능
*/

#header-center {
  margin: 0 auto 0 auto;
  width: 1080px; /*px는 상대적 길이, 모니터별로 다름*/
  display: inline-block;
}

#header-search > a {
  vertical-align: middle;
  text-decoration: none;
}

#header-search h1 {
  vertical-align: middle;
  width: 222px;
  height: 52px;
  display: inline-block;
  background-position: 0 -158px;
  background-size: 457px 434px;
  background-image: url(./네이버\ 메인\ 사진.png);
  background-repeat: no-repeat;
  /*background: url(./네이버\ 메인\ 사진.png) 0 -158px  no-repeat*/
  position: relative;
  top: -7px;

  /*
  vertical-align: top;
  content: "";
  text-indent: 100%;
  overflow: hidden;
  */
}

#header-search h1 > span {
  display: none;
}

#header-search h2 {
  display: none;
}
#header-search fieldset {
  margin-left: 20px;
  /*
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 12px;
  padding-left: 10px;
  */
  padding: 12px 0px 12px 10px;
  width: 582px;
  height: 52px;
  display: inline-block;
  border: 2px solid #19ce60; /* hex */
  /* rgb는 rgb(x,y,z) */
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
  width: 444px;
  height: 24px;
  display: inline-block;
}

#header-search fieldset button {
  width: 50px;
  height: 50px;
  border: none;
  padding: 0;
  background: #19ce60;
  position: absolute;
  /*블록 서식 문맥 block formatting context*/
  /*쌓임 맥락 stacking context*/
  right: 0;
  top: -1px;
}

#search-image {
  background: #19ce60;
  background-image: url(./네이버\ 메인\ 사진.png);
  background-position: -420px 0px;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
}
